<% content_for(:template_name, "card") %>

<%= form_with url: signature_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header spacing-below-35">
      <h1 class="form-card__title">
        <%= t("review.header") %>
      </h1>
    </div>
    <div class="form-card__content">
      <div class="grid bottom-border">
        <div class="grid__item">
          <p><%= t("review.helper_text") %></p>
        </div>
      </div>
      <div class="grid spacing-above-25">
        <div class="grid__item">
          <table width="100%" class="bottom-border">
            <tr>
              <td><span class="heading-25-small"><%= t('review.name_birthday', name: current_household.parent_first_name) %></span></td>
              <td width="20%"><span class="heading-25-small not-bold text--right"><%= link_to 'Edit', review_parent_birthday_steps_path, id: 'edit-parent-birthday' %></span></td>
            </tr>
            <tr>
              <td><p><%= current_household.parent_dob.strftime('%B %e, %Y') %></p></td>
            </tr>
          </table>
          <% current_household.children.each do |child| %>
            <table width="100%" class="bottom-border">
              <tr>
                <td><span class="heading-25-small"><%= t('review.name_birthday', name: child.first_name) %></span></td>
                <td width="20%"><span class="heading-25-small not-bold text--right"><%= link_to 'Edit', review_child_birthday_steps_path(id: child.id) %></span></td>
              </tr>
              <tr>
                <td><p><%= child.dob.strftime('%B %e, %Y') %></p></td>
              </tr>
            </table>
          <% end %>
          <table width="100%" class="bottom-border">
            <tr>
              <td><span class="heading-25-small">Mailing address</span></td>
              <td width="20%"><span class="heading-25-small not-bold text--right"><%= link_to 'Edit', '#',  id: 'edit-mailing-address' %></span></td>
            </tr>
            <tr>
              <td>
                <p>
                  <%= current_household.mailing_street %><br>
                  <% if current_household.mailing_street_2.present? %>
                    <%= current_household.mailing_street_2 %><br>
                  <% end %>
                  <%= current_household.mailing_city %>, <%= current_household.mailing_state %>  <%= current_household.mailing_zip_code %>
                </p>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
    <div class="form-card__footer">
      <%= f.button t("shared.continue"), class: "button button--primary" %>
    </div>
  <% end %>
<% end %>