<script>
$( function() {
  $( "#form_school_attended_name" ).autocomplete({
    source: "/schools"
  });
} );
</script>
<% content_for(:template_name, "card") %>
<%= form_with url: add_student_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header spacing-below-35">
      <div class="emoji emoji--bigger spacing-below-25 spacing-below-25 emoji--bust"></div>
      <h1 class="form-card__title">
        <%= t("add_student.header") %>
      </h1>
    </div>
    <div class="form-card__content">
      <div class="grid">
        <div class="grid__item">
          <p class="text text--left"><%= t("add_student.one_at_a_time_add") %></p>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item text--left">
          <%= f.cfa_input_field(:first_name, t("add_student.first_name"), help_text: t("add_student.legally")) %>
          <%= f.cfa_input_field(:last_name, t("add_student.last_name"), help_text: t("add_student.legally")) %>
          <%= f.cfa_date_select(
                  :dob,
                  t("add_student.when_were_they_born"),
                  options: {
                      start_year: Time.now.year,
                      end_year: Time.now.year - 30,
                  }
              ) %>
          <%= f.cfa_radio_set(:school_registration_gender,
                              label_text: t("add_student.what_registered_gender"),
                              collection: [
                                  {value: 'F', label: t("add_student.gender_female")},
                                  {value: 'M', label: t("add_student.gender_male")}
                              ]
              )%>
          <%= f.cfa_input_field(:school_attended_name, t("add_student.school_name")) %>
          <%= f.cfa_select(
            :school_attended_grade,
            t("add_student.school_grade"),
            [
              [t("add_student.pre_k"), "PK"],
              [t("add_student.kindergarten"), "K"],
              ["1st " + t("add_student.grade"), "1"],
              ["2nd " + t("add_student.grade"), "2"],
              ["3rd " + t("add_student.grade"), "3"],
              ["4th " + t("add_student.grade"), "4"],
              ["5th " + t("add_student.grade"), "5"],
              ["6th " + t("add_student.grade"), "6"],
              ["7th " + t("add_student.grade"), "7"],
              ["8th " + t("add_student.grade"), "8"],
              ["9th " + t("add_student.grade"), "9"],
              ["10th " + t("add_student.grade"), "10"],
              ["11th " + t("add_student.grade"), "11"],
              ["12th " + t("add_student.grade"), "12"],
            ]
          ) %>
        </div>
      </div>
      <div class="form-card__footer">
        <%= f.button t("shared.continue"), class: "button button--primary" %>
      </div>
    </div>
  <% end %>
<% end %>
