  <div class="select language--select">
    <select class="select__element toolbar__item text--small language--selector"
            name="language_select"
            id="language_select"
            onchange="javascript:location.href = this.value;">
      <option <%="selected disabled" if I18n.locale == :en %> value="<%=url_for(locale: :en) %>">English</option>
      <option <%="selected disabled" if I18n.locale == :es %> value="<%=url_for(locale: :es) %>">Español</option>
      <option <%="selected disabled" if I18n.locale == :hmn %> value="<%=url_for(locale: :hmn) %>">Lus Hmoob</option>
      <option <%="selected disabled" if I18n.locale == :ru %> value="<%=url_for(locale: :ru) %>">Pусский</option>
      <option <%="selected disabled" if I18n.locale == :so %> value="<%=url_for(locale: :so) %>">Af Soomaali</option>
      <option <%="selected disabled" if I18n.locale == :vi %> value="<%=url_for(locale: :vi) %>">Tiếng Việt</option>
    </select>
  </div>
